<div id="wrapper" style='margin-top: 20px'>
  <div id='content' style="margin: 0px auto; width:400px;">
    <div id='treeparent'>
      <!-- specifies the template string for the TreeView component-->
      <ejs-treeview id="tree"  #treevalidate [fields]="field" >


        <ng-template #nodeTemplate let-data="">


          <div class="row">
            <div class="col-md-4 col-xs-4 col-sm-4">
              <img class="eimage" src="https://ej2.syncfusion.com/demos/src/treeview/images/employees/{{data.eimg}}.png"
                   alt="{{data.eimg}}"/>
            </div>
            <div class="col-md-8 col-xs-8 col-sm-8">
              <div class="ename">{{data.name}}</div>
              <div class="ejob">{{data.job}}</div>
            </div>
          </div>

        </ng-template>

      </ejs-treeview>
    </div>

    <ejs-contextmenu id='contentmenutree' target='#tree' [items]='menuItems' (beforeOpen)='beforeopen($event)' (select)='menuclick($event)'></ejs-contextmenu>

  </div>
</div>
