<div id="wrapper" style='margin-top: 20px'>
  <div id='content' style="margin: 0px auto; width:400px;">
    <div id='treeparent'>
      <!-- specifies the template string for the TreeView component-->
      <ejs-treeview id="tree" [fields]="field" [cssClass]="cssClass">
        <ng-template #nodeTemplate="" let-data="">
          <div>
            <img class="eimage" src="https://ej2.syncfusion.com/demos/src/treeview/images/employees/{{data.eimg}}.png" alt="{{data.eimg}}"/>
            <div class="ename">{{data.name}}</div>
            <div class="ejob">{{data.job}}</div>
          </div>
        </ng-template>
      </ejs-treeview>
    </div>
  </div>
</div>
